h2 {
	text-align: center;
}

.center {
	margin: auto;	
	display: table;
}

#circle {
	width: 150px;
	height: 150px;
	border: 2px solid #000;
	border-radius: 50%;
	margin: auto;
}

#restaurant {
	text-align: center;
	padding-top: 10px;
	color: red;
	font-size: 1.5em;
}

.role-image {
	width: 40%;
}

button {
	display: table;
	margin: 20px auto;
}